<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="cielo.lio.permission.CASHLESS"/>
    <queries>
        <package android:name="com.ads.lio.uriappclient" />
        <package android:name="br.com.cielosmart.orderservice" />
    </queries>

</manifest>
