<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <!-- Permite interação com o Cielo Smart Order Service -->
        <package android:name="br.com.cielosmart.orderservice" />
        <!-- Permite consulta de apps que respondem a deeplinks lio:// -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="lio" />
        </intent>
    </queries>

</manifest>
